<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EzCook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>categoryCtrl</display-name>
    <servlet-name>categoryCtrl</servlet-name>
    <servlet-class>com.ezcook.controller.categoryCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>categoryCtrl</servlet-name>
    <url-pattern>/categoryCtrl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>recipeCtrl</display-name>
    <servlet-name>recipeCtrl</servlet-name>
    <servlet-class>com.ezcook.controller.recipeCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recipeCtrl</servlet-name>
    <url-pattern>/recipeCtrl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ingredientCtrl</display-name>
    <servlet-name>ingredientCtrl</servlet-name>
    <servlet-class>com.ezcook.controller.ingredientCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ingredientCtrl</servlet-name>
    <url-pattern>/ingredientCtrl.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_ingredient</display-name>
    <servlet-name>admin_ingredient</servlet-name>
    <servlet-class>com.ezcook.controller.admin_ingredient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_ingredient</servlet-name>
    <url-pattern>/admin_ingredient.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_recipe</display-name>
    <servlet-name>admin_recipe</servlet-name>
    <servlet-class>com.ezcook.controller.admin_recipe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_recipe</servlet-name>
    <url-pattern>/admin_recipe.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadFile</display-name>
    <servlet-name>uploadFile</servlet-name>
    <servlet-class>com.ezcook.controller.uploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFile</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>recipe_has_ingredient</display-name>
    <servlet-name>recipe_has_ingredient</servlet-name>
    <servlet-class>com.ezcook.controller.recipe_has_ingredient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recipe_has_ingredient</servlet-name>
    <url-pattern>/recipe_has_ingredient</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>recipeHasIngredientCrtl</display-name>
    <servlet-name>recipeHasIngredientCrtl</servlet-name>
    <servlet-class>com.ezcook.controller.recipeHasIngredientCrtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recipeHasIngredientCrtl</servlet-name>
    <url-pattern>/recipeHasIngredientCrtl</url-pattern>
  </servlet-mapping>
  
</web-app>